@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

$Red: #ea5353;
$Cyan: #45d3d3;
$Orange: #fcaf4a;
$Blue: #549ef2;
$VeryDarkBlue: #4c4e61;
$GrayishBlue: #a3a5ae;
$VeryLightGray: #fafafa;

html,
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.introContainer {
  padding-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.intro {
  width: 425px;
  padding: 5px;
}

.intro p {
  font-size: 15px;
  color: $GrayishBlue;
  padding: 10px;
}

.intro p:first-child {
  font-size: 28px;
  padding: 5px;
  font-weight: 200;
  color: $VeryDarkBlue;
}

h3 {
  font-size: 28px;
  font-weight: 600;
  color: $VeryDarkBlue;
}

.container {
  margin-top: 40px;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container h3 {
  padding: 5px;
  font-size: 20px;
}

.container p {
  padding: 5px;
  font-size: 12px;
  color: $GrayishBlue;
}

.tile {
  height: auto;
  margin: 10px;
  width: 320px;
  text-align: start;
  padding: 25px;
  border-top: 5px solid;
  border-radius: 4px;
  box-shadow: 0 6px 12px 5px #cccccc5d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.middleContainer .team {
  margin-bottom: 20px;
}

.karma {
  border-color: $Orange;
}

.calc {
  border-color: $Blue;
}

.supervisor {
  border-color: $Cyan;
}

.team {
  border-color: $Red;
}

.svgContainer {
  width: 100%;
  padding-top: 20px;
  text-align: right;
}

@media screen and (max-width: 1080px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .intro p {
    font-size: 16px;
  }
  .intro p:first-child {
    font-size: 26px;
  }
  .intro h3 {
    font-size: 26px;
  }
}
.attribution {
  font-size: 1rem;
  padding: 20px;
  width: 100%;
  text-align: center;
  color: $VeryLightGray;
  background: linear-gradient(90deg, #549ef2, #45d3d3, #549ef2);
}

.attribution a {
  text-decoration: none;
  color: $VeryDarkBlue;
}
